NODE_ENV=development
PORT=5000

CLIENT_SIDE_URLS=["http://localhost:3000","http://localhost:3001"] # List client side URLS to allow cors
SERVER_URLS=["http://localhost:5000"] # This server url


DATABASE_URL= # postgresSQL database connection uri

REDIS_URL= # Redis connection rui

REFRESH_TOKEN_SECRET="KU5Si6VlKEnj7nxW0eb/dNF0qcTMWiTh6rOA55sR9B+dZ7BL3/lB1gqvhxdyG1YpBiWitL1KAwtkP25nL1RkmGvNBuJVWtZo3UtcH35sMhx2LvpBznc0K2RrIld2XzbtHkncfCYenpWG3ZgDbgYkBA6og7IYtyzzXPwkZF0BGgs="
ACCESS_TOKEN_SECRET="U/t/dDZ46O7LrPjdFSGQYElNfzFVQxg5xuzlf/KSggzLn2pvmflMmnnmkqpPJbMhXTAlFIU2nc97lhiRp25dgRy+AnSPSHcmrKJrag56NVD4q/tEOnGYqk2Pwbm4+qqRijRsNtD8/ETaszh+qVa7mnZ7GcJUU9axoYtRAW9/6QM="

REFRESH_TOKEN_EXPIRES_IN=2592000
ACCESS_TOKEN_EXPIRES_IN=86400

CLIENT_SIDE_DOMAIN= # Set the hosted client side domain if want to deploy the server production

REFRESH_TOKEN_COOKIE_EXPIRES_IN=2592000

GOOGLE_SMTP_USER= # Add google smtp user too send email using nodemailer
GOOGLE_SMTP_PASS= # Add google password user too send email using nodemailer

CLOUDINARY_CLOUD_NAME= # Cloudinary cloud name
CLOUDINARY_API_KEY= # Cloudinary api key
CLOUDINARY_API_SECRET= # Cloudinary api secret

SUPER_ADMIN_FULL_NAME="MD Abir mahmud"
SUPER_ADMIN_EMAIl=abirmahmud5665@gmail.com
SUPER_ADMIN_PASSWORD="Pass#123"

BCRYPT_SALT_ROUNDS=12

MAX_DEVICE_LOGIN_LIMIT=5

TEST_ADMIN_EMAIL=testadmin@test.com
TEST_ADMIN_PASSWORD="Pass#123"

STRIPE_SECRET_KEY= # Provide stripe secret key
STRIPE_ENDPOINT_SECRET= # Provide stripe endpoint secret to use stripe web hook

IP_INFO_TOKEN= # Ip info("https://ipinfo.io/") token to get ip address information